input {
  width: 75%;
  /*margin-right: 0;*/
  padding: 10px;
  /*border: none;*/
  /*font-size: 14px;*/
}

.addBtn {
  width: 25%;
  padding: 10px;
  margin-left:0;
  background: #84d875;
}

.addBtn:hover {
  background-color: #bbb;
  color: #FFF;
}

/* this is what creates the alternating lines in the list*/

ul li{
  position: relative; 
  padding: 12px 8px 12px 40px;
  background: #c8eea0;

  /*prevents selection of items*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background:#FFF;
}

ul li:hover {
  content: "\f14a";
    background: #ddd;
}

ul.li::before{
  content: "\f0c8";
  color:rgb(0, 0, 0);
  left: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}


/*creates checkmark and strikethrough, called on click in js*/

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "\f14a";
  position: absolute;
  color:rgb(0, 0, 0);
  left: 0;
  top: 0;
  padding: 12px 16px 12px 16px;


  /* content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;  */
}

ul li.checked:hover{
  content: "\f14a";
  position: absolute;
  color:rgb(116, 116, 116);
  left: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}


/* .fa-square {
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.fa-square:hover{
  background: ".fa-check-square";
} */

/*styles trashcan icon*/
.fa-trash-alt {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.fa-trash-alt:hover {
  background-color: rgb(163, 97, 97);
  color: white;
}
