<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<h1 class="display-3 text-center">Stay Fresh Fridge</h1>-->
<header th:replace="fragments :: header(page='recipe')"></header>
<!--<div th:replace="fragments :: alert"></div>-->
<div class="container-fluid">

    <form method="post" style="max-width:600px;">
        <div>
            <h2>Add New Recipe</h2>
        </div>
        <div class="form-group">
            <label th:for="name" class="text-dark">Recipe Name</label>
            <input class="form-control" th:field="${recipe.recipe_name}" placeholder="Recipe Name" required="true" autofocus="true" />
            <span th:errors="${recipe.recipe_name}" class="error text-danger"></span>
        </div>

        <div class="form-group">
            <label th:for="description" class="text-dark">Recipe Description</label>
            <input class="form-control" th:field="${recipe.recipe_description}" placeholder="Recipe Description" required="true"/>
            <span th:errors="${recipe.recipe_description}" class="error text-danger"></span>
        </div>

        <div class="form-group">
            <label th:for="details" class="text-dark">Recipe Details</label>
            <textarea class="form-control" th:field="${recipe.recipe_details}" placeholder="Recipe Detailed info" required="true"></textarea>
            <span th:errors="${recipe.recipe_details}" class="error text-danger"></span>
        </div>

        <div class="form-group">
            <label th:for="image" class="text-dark">Recipe Image URL</label>
            <input class="form-control" th:field="${recipe.recipe_img_url}" placeholder="Recipe Image URL"/>
            <span th:errors="${recipe.recipe_img_url}" class="error text-danger"></span>
        </div>

        <div class="form-group">
            <label th:for="recipeIngredient.ingredient" class="text-dark">Ingredient</label>
            <!--            <select class="form-control" th:field="${recipeIngredient.ingredientid}" multiple="multiple">-->
            <!--                <th:block th:each="ingredient : ${ingredients}">-->
            <!--                    <option th:value=${ingredient.ingredient_id} th:text="${ingredient.ingredient_name}"></option>-->
            <!--                </th:block>-->
            <!--            </select>-->
            <select class="form-control" name="ingredientIds" multiple="multiple" required="true">
                <th:block th:each="ingredient : ${ingredients}">
                    <option th:value=${ingredient.ingredient_id} th:text="${ingredient.ingredient_name}"></option>
                </th:block>
            </select>
            <a href="/ingredients/add" class="btn btn-primary" role="button">Add New Ingredients</a>
        </div>


        <br>
        <input type="submit" value="Save" class="btn btn-success active" />
        <input type="reset" value="Cancel" class="btn btn-danger">
    </form>


</div>
</body>
</html>