<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header(page='fridge')"></header>
<!--<div th:replace="fragments :: alert"></div>-->
<div class="container-fluid">

    <form action="fridge" method="post" style="max-width:600px;">
        <div>
            <h5 class="text-primary">What's in the Fridge</h5>
        </div>
        <div>


            <table class="table table-primary table-striped" id="fridge-list">
                <thead>
                <tr>
                    <th scope="col">Item</th><th scope="col">Use By</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="groceryItem : ${fridgeItems}">
                    <td class="input-group">
                        <input type="text" name="fridgeName" th:value="${groceryItem.name}">
                    </td>

                    <td class="input-group">
                        <div th:if="${groceryItem.expires == null}" class="input-group">
                            <input type="date" class="form-control" name="useByDate" th:value="${groceryItem.expires}">
                            <button type="submit" name="saveId" th:value="${groceryItem.id}" class="btn btn-primary">Set Use By Date</button>
                            <button type="submit" name="deleteIds" th:value="${groceryItem.id}" class="btn btn-danger">Delete</button>
                        </div>

                        <div th:unless="${groceryItem.expires == null}" th:text="${groceryItem.expires}">

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

<!--            <ul>-->
<!--                <th:block th:each="groceryItem : ${fridgeItems}" class="">-->
<!--                    <li class="list-group-item">-->
<!--                        <th:block th:text="${groceryItem.name}">-->

<!--                        </th:block>-->
<!--                        <th:block th:if="${groceryItem.expires.equals('')}">-->
<!--                            <form>-->
<!--                            <div class="form-group">-->
<!--                                <label th:for="expires" class="text-dark">Expires: </label>-->
<!--                                <input type="date" class="form-control" th:field="${groceryItem.expires}">-->
<!--                            </div>-->
<!--                            </form>-->
<!--                            <th:block th:unless="${groceryItem.expires}">-->
<!--                                <th:block th:text="${groceryItem.expires}">-->

<!--                                </th:block>-->
<!--                            </th:block>-->
<!--                        </th:block>-->

<!--                        </th:block>-->
<!--                    </li>-->

<!--                </th:block>-->
<!--            </ul>-->
        </div>
    </form>
    </div>
</body>
</html>