<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>

<h1 class="display-3">Shopping List</h1>

<div class="container-fluid">
    <ul class="list-group">
        <th:block th:each="item : ${shoppingList}">
        <li class="list-group-item" th:text="${item.name}"></li>
        </th:block>
    </ul>
</div>

    <form action="shoppinglist" method="post" id="addItem">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Item Name" name="itemName">

            <input type="text" class="form-control" placeholder="Expires: MM/DD/YY" name="expires">

        </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-dark" type="button" onclick="addItem()">Add Item</button>
            </div>
    </form>


<script>
    function addItem() {
    document.getElementById("addItem").submit();
    }
</script>

</body>
</html>