<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>

<h1 class="display-3 text-center" >Shopping List</h1>


<div class="container-fluid">
    <ul class="list-group">
        <th:block th:each="item : ${shoppingList}">
        <li class="list-group-item" th:text="${item}">

        </th:block>
        </ul>

</div>
        <h3 class="text-center">Add Items to Your List</h3>
    <div>

        <form action="shoppinglist" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Item Name" name="name">

            <input type="text" class="form-control" placeholder="Days til Expires: # (optional)" name="expires">

        </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-dark" type="submit">Add Item</button><br>
            </div>
        </form>
    </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="shoppinglist/delete" class="btn btn-danger">Delete Items</a>
        </div><br>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="shoppinglist/move" class="btn btn-info">Move To Fridge</a>
    </div>
</body>
</html>